.messages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 2rem 0 0 2rem;
}

#display-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.items {
    border: 1px solid grey;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 14rem;
    padding: 0.3rem;
}

#newpost {
    margin: 1rem 0 0 2rem;
    
}

.SearchInput {
    margin-left: 40rem;
    background-color: #fcfcfc;
    padding: 5px;
    width: 17rem;
}

.SearchInput > input, button {
    border: none;
    background: none;
    color: black;

}

.SearchInput > input {
    width: 90%;
}



.btn-search {
    font-size: 1.2rem;
}